@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para navegadores basados en WebKit (como Chrome y Safari) */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: black; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados del pulgar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #331E27; /* Color de fondo de la barra de desplazamiento */
  }

  html {
    scroll-behavior: smooth;
  }

  tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }



